:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Thème clair */
.light-mode {
  --bg-color: #ffffff;
  --text-color: #213547;
  --btn-bg: #f9f9f9;
  --btn-hover-border: #646cff;
  --description-product: #f0f4f8;
}


/* Thème sombre */
.dark-mode {
  --bg-color: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --btn-bg: #1a1a1a;
  --btn-hover-border: #646cff;
  --description-product: #3a3a3a;
}

.light-mode .mode-toggle-btn,
.light-mode .back-btn {
  color: #000000; /* noir forcé */
  border: 1px solid #000000;
}

.dark-mode .mode-toggle-btn,
.dark-mode .back-btn {
  color: #ffffff; /* blanc forcé */
  border: 1px solid #fff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}


/* Appliquer les variables */
body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--btn-hover-border);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
